.footer{
    grid-area: footer;
    padding: 0px;
    text-align: center;
    height: 160px;
    background: #B0A9A9;
}
.footer-inner-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 160px;
}
.fa{
    margin:10px;
    padding: 12px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}
.fa:hover{
    transform:scale(1.2);
}